.container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.postBtn {
  padding: 5px 20px;
  border: 1.4px solid lightgray;
  border-radius: 8px;

  &:hover {
    background-color: rgba(66, 66, 66, 0.26);
    cursor: pointer;
  }
  i {
    font-size: 1rem;
    color: $color-active-link;
  }
  a {
    color: $color-active-link;
  }
}
