.container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 2rem auto 6rem;

  @include responsive(phone) {
    margin-top: 1.8rem;
  }
}

.homeBtn {
  margin: 3rem 0 0;
  width: 110px;
  padding: 10px;
  &:hover {
    color: $color-active-link;
    cursor: pointer;
  }
}
