.container {
  max-width: 48rem;
  // min-width: 48rem;

  padding: 0 1rem;
  margin: 3rem auto 6rem;

  @include responsive(phone) {
    margin-top: 1.8rem;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
