.container {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 65rem;

  &__rightContent {
    display: flex;
    align-items: center;
  }
}

.imgContainer {
  display: flex;
  align-items: center;

  &__img {
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;
  }
}
