.active {
  border-top: 5px solid $color-primary;
}

.default {
  color: #000;
}

.activeLinkContainer {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  display: inline;

  &:hover {
    cursor: pointer;
  }
}
