body,
body[data-theme='light'] {
  --color-text-primary: #27201a;
  --color-text-secondary: #666;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme='dark'] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #a9adc1;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
}

svg[data-theme='dark'] {
  fill: rgb(211, 211, 211);
}

svg[data-theme='light'] {
  fill: rgb(48, 48, 48) !important;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  transition: background 0.25s ease-in-out;
  line-height: 1.6;
  padding-top: 3rem;
}

h1 {
  color: var(--color-text-primary);
}

time {
  color: var(--color-text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

span.fa-brands,
span.fa-solid {
  font-size: 2.2rem;
}
