body,
body[data-theme='light'] {
  --color-text-primary: #27201a;
  --color-text-secondary: #666;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
  --color-bg-inline-code: #d4d4d4;
}

body[data-theme='dark'] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #a9adc1;
  --color-bg-primary: #121e27;
  --color-bg-toggle: #a9a9a9;
  --color-bg-inline-code: #535456;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  transition: background 0.25s ease-in-out;
  line-height: 1.5;
  padding-top: 3rem;
}

nav {
  color: #fff;
}

h1 {
  color: var(--color-text-primary);
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

time {
  color: var(--color-text-secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

span.fa-brands,
span.fa-solid {
  font-size: 2.2rem;
}

span.inlineCode {
  color: var(--color-text-primary);
  background-color: var(--color-bg-inline-code);
  border-radius: 3px;
  padding: 0 5px 1px;
}
