.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingLgB {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 800;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.homeContainer {
  display: flex;
  @include responsive(tab_medium) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.profileImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;

  &__container {
    padding: 30px;
    padding-top: 0;

    @include responsive(tab_medium) {
      padding: 0;
      padding-right: 1rem;
      width: 20rem;
    }
  }
}

.bioContainer {
  width: 30%;
  text-align: 'center';

  @include responsive(tab_medium) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    width: 100%;
    margin-bottom: 4rem;
    // align-items: center;
  }
}

.blogContainer {
  width: 70%;

  @include responsive(tab_medium) {
    width: 100%;
  }
}
